* {
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

/* componant */
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background: #dedfe0;
    height: 100vh
}

.container {
    width: 500px;
    min-height: 150px;
    background: #03a9f4ad;
}

.container .options {
    padding: 10px;
    gap: 15px;
    background: #0077b6
}


.container .options button {
    display: inline-block;
    width: 20px;
    border: none;
    border-radius: 2px;

}

.container .options span {
    color: white;
    display: inline-block;
    width: 30px;
    text-align: center;
}

.type {
    font-weight: 900;

}

.container .options button:active,
.type:active {
    color: #0077b6;
    cursor: pointer;
    transition: 0.3s;

}

.container .text {
    color: white;
    background: #0077b6;
    margin: 20px;
    padding: 10px;

}